@import "tailwindcss";

@font-face {
  font-family: "Dana";
  src: url("../fonts/Dana/woff2/DanaFaNum-Regular.woff2");
}
@font-face {
  font-family: "Dana Medium";
  src: url("../fonts/Dana/woff2/DanaFaNum-Medium.woff2");
}
@font-face {
  font-family: "Dana DemiBold";
  src: url("../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2");
}
@font-face {
  font-family: "Morabba Light";
  src: url("../fonts/Morabba/woff2/Morabba-Light.woff2");
}
@font-face {
  font-family: "Morabba Medium";
  src: url("../fonts/Morabba/woff2/Morabba-Medium.woff2");
}
@font-face {
  font-family: "Morabba Bold";
  src: url("../fonts/Morabba/woff2/Morabba-Bold.woff2");
}

@theme {
  --color-brown-100: #ece0d1;
  --color-brown-300: #dbc1ac;
  --color-brown-600: #967259;
  --color-brown-900: #634832;

  --shadow-normal: 0px 1px 10px rgba(0, 0, 0, 0.05);

  --radius-4xl: 2rem;

  --font-Dana: "Dana";
  --font-DanaMedium: "Dana Medium";
  --font-DanaDemiBold: "Dana DemiBold";
  --font-MorabbaLight: "Morabba Light";
  --font-MorabbaMedium: "Morabba Medium";
  --font-MorabbaBold: "Morabba Bold";

  --tracking-tightest: -0.065em;

  --breakpoint-xs: 480px;

  --rotate-chavron: -90deg;

  --breakpoint-xs: 30rem;

  --breakpoint-2xl: 80rem;
}

@utility container {
  @apply mx-auto px-4 lg:px-2.5;
}

@layer utilities {
  .bg-home-mobile {
    background-image: url("");
  }
}

@custom-variant dark (&:where(.dark, .dark *));

.menu-mobile-active {
  color: #fdba74;
}
.menu-mobile-active::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #fdba74;
  right: -12px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 50%;
}

.right-nav-0 {
  right: 0;
}
.block-nav {
  display: block;
}

.left-0 {
  left: 0;
}

.circle {
  @apply border rounded-full hidden md:flex justify-center items-center;
}

.circle--lg {
  @apply w-[203px] h-[203px] absolute right-0 left-0 mx-auto -bottom-[101px] border-white/25;
}

.circle--md {
  @apply w-[145px] h-[145px] border-white/50;
}

.circle--sm {
  @apply w-[95px] h-[95px] border-white/80;
}
@media screen and (min-width: 1280px) {
  html.dark .products {
    background-image: url("../images/body-bg.png");
  }
  .products {
    background: linear-gradient(
        rgba(243, 244, 246, 0.65),
        rgba(243, 244, 246, 0.65)
      ),
      url("../images/body-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.section-title {
  @apply font-MorabbaMedium text-2xl md:text-5xl text-zinc-700 dark:text-white;
}

.section-subtitle {
  @apply font-MorabbaLight text-lg md:text-3xl text-zinc-700 dark:text-white mt-1.5 inline-block;
}

.section-link {
  @apply text-orange-300 text-base  md:text-xl flex items-center;
}

.category--banner-1 {
  background: linear-gradient(260deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url("../images/categories/category-left.jpg");
  background-size: cover;
}
.category--banner-2 {
  background: linear-gradient(260deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url("../images/categories/category-right.jpg");
  background-size: cover;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  @apply w-9 h-9 md:w-11 md:h-11 bg-white hover:bg-gray-300 flex justify-center items-center rounded-full cursor-pointer dark:bg-zinc-700 dark:text-white dark:hover:bg-white dark:hover:text-zinc-700 transition-all;
}

.footer-dots {
  @apply w-1 h-1 bg-zinc-700 dark:bg-white inline-block relative rounded-full;
}

.footer-dots::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #3f3f46;
  border-radius: 50%;
  left: -10px;
}

.footer-dots::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #3f3f46;
  border-radius: 50%;
  left: -20px;
}
html.dark .footer-dots::after {
  background-color: white;
}
html.dark .footer-dots::before {
  background-color: white;
}

.contact-props {
  position: relative;
}
.contact-props::before,
.contact-props::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  background-color: #d1d5db;
}

.contact-props::before{
  width: calc(100% - 30px);
  height: 1px;
}
.contact-props::after{
  width: 1px;
  height: calc(100% + 20px);
}

@media screen and (min-width: 640px) {
  .contact-props::before,
  .contact-props::after {
    content: none;
  }
} 

html.dark .contact-props::before,
html.dark .contact-props::after {
  background-color: rgba(255, 255, 255, 0.1);
}

.dot-dot{
  position: relative;
}
.dot-dot::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.dot-dot::after{
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}